rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /{document=**} {
      allow read, write: if false;
    }

    match /exercises/{exerciseId} {
      allow read: if withValidOwnershipForReads();

      allow create: if isValidExercise();
      allow update: if withValidAccessOwnershipForWrites() && isValidExercise();
      allow delete: if withValidAccessOwnershipForWrites();
    }

    match /workouts/{workoutId} {
      allow read: if withValidOwnershipForReads();

      allow create: if isValidWorkout();
      allow update: if withValidAccessOwnershipForWrites() && isValidWorkout();
      allow delete: if withValidAccessOwnershipForWrites();
    }

    function isAdmin() {
      return isAuthenticated() && 'admin' in request.auth.token &&
      request.auth.token.admin == true;
    }

    function isAuthenticated() {
      return request.auth.uid !=null;
    }

    function isKnownUser() {
      return isAuthenticated() &&
      exists(/databases/$(database)/documents/users/$(request.auth.uid));
    }

    function isValidExercise() {
      let data = request.resource.data;

      return isNonEmptyString(data.name) &&
      isNonEmptyString(data.exerciseType) &&
      isNonEmptyString(data.targetMuscle) &&
      isNonEmptyString(data.equipment) &&
      data.instructions is list &&
      isRequestOwnershipValid();
    }

    function isValidWorkout() {
      let data =  request.resource.data;

      return isNonEmptyString(data.name) &&
      isNonEmptyList(data.targetMuscles) &&
      isNonEmptyString(data.coverUrl) &&
      isNonEmptyString(data.avatarUrl) &&
      isNonEmptyString(data.level) &&
      isRequestOwnershipValid();
    }

    function isNonEmptyString(val) {
      return val is string && val.size() > 0;
    }

    function isNonEmptyList(val) {
      return val is list && val.size() > 0;
    }

    function isRequestOwnershipValid() {
      let requestAdmin = request.resource.data.admin;
      let requestUserId = request.resource.data.userId;

      let isValidForAdmin = isAdmin() && requestAdmin == true && requestUserId == null;
      let isValidForUser = isKnownUser() && requestAdmin == false && requestUserId == request.auth.uid;

      return isValidForAdmin || isValidForUser;
    }

    function withValidAccessOwnershipForWrites() {
      return isOwnedByAdmin() || isOwnedByUser();
    }

    function withValidOwnershipForReads() {
      return isOwnedByAdmin() || isOwnedByUser() || isPublicResource();
    }

    function isOwnedByAdmin() {
      return isAdmin() && isAdminResource();
    }

    function isPublicResource() {
      return isAuthenticated() && resource.data.admin == true;
    }

    function isOwnedByUser() {
      return isKnownUser() && request.auth.uid == resource.data.userId;
    }

    function isAdminResource() {
      return resource.data.admin == true;
    }
  }
}
